*{
    margin: 0px;
    padding: 0px;
    
}

body{

    background-color: rgb(235, 235, 235);
}

header img{

    float:left ;
    width: 70px;
    margin-left: 50px;
}

header h1{

    line-height: 70px;
    text-align: center;
    color: white;
}

#cabecalho{

    height: 70px;
    background-color:rgb(152, 123, 93) ;
    

}
#menu {
    background-color: wheat;
    text-align: center;
    padding: 10px;
}

#menu a {
    margin: 0 15px; 
    color: brown; 
    text-decoration: none; 
    font-size: 18px; 
}

header section p{

    padding: 20px;
}

#menu{
    
    background-color: wheat;
    text-align: center;
    padding: 10px;
}


#conteudoBlog{
    

    width: 80%;
    margin: 20px auto; 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    
    
}
#conteudoBlog h1{

    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#conteudoBlog img{

    width: 70%;
    height: 500px;
    border-radius: 30px;
    margin-top: 20px;   
}

p{
    
    text-align: left;
    font-family: 20px;
    margin: 10px 50px 0px 50px;
    
}


#conteudoBlog1{
    

    width: 80%;
    margin: 20px auto; 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between; 
    align-items: stretch;
    
    
}

#conteudoBlog1P{

   margin-top: 20px;
   align-items: stretch;
     /* display: flex; */
    /* justify-content: center; */
    /* columns: 100px; */
    
}
/* 
#conteudoBlog1 h1{

    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    height: 20px;
} */


#conteudoBlog1 img{

    width: auto;
    height: 200px;
    border-radius: 30px;
    margin-top: 20px;   
}

#conteudoBlog p{
    
    text-align: left;
    font-family: 20px;
    margin: 10px 50px 0px 50px;
    
}


footer{

    height: 70px;
    background-color:rgb(152, 123, 93) ;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    
}
footer p{

    color: white;
    text-align: center;
    padding-left: -200px;
    
   
}



